@import '../../common/scss/variables.scss';
@import 'include-media/dist/_include-media.scss';

main.home
{
	width: 70%;
	margin: 0 auto;
	height: 80%;
	overflow: hidden;
	p{
		margin: 10px 0;
	}
	.walletlist{
		width: 100%;
		height: 600px;
		// border-bottom: 1px solid rgba(234, 233, 233,0.5);
		overflow: auto;
		.walletlistTitle{
			font-size: 20px;
			font-weight: bold;
		}
	}
	.walletType{
		width: 100%;
		height: 200px;
		button{
			margin: 10px 0;
		}
	}
}
