@import '../../common/scss/variables.scss';
@import 'include-media/dist/_include-media.scss';

main.home
{
	width: 80%;
	margin: 0 auto;
	height: 80%;
	overflow: hidden;
	p{
		margin: 10px 0;
	}
	.walletlist{
		width: 66%;
		height: 600px;
		float: left;
		border-right: 1px solid rgba(234, 233, 233,0.5);
		overflow: auto;
		padding: 5px;
		box-sizing: border-box;
		.walletlistTitle{
			font-size: 20px;
			font-weight: bold;
		}
	}
	.walletType{
		width: 30%;
		height: 200px;
		float: right;
		margin-top: 200px;
		button{
			margin: 10px 0;
		}
	}
	.deleteAddress{
		margin-left: 10px;
		vertical-align: text-bottom;
		font-size: 15px;
	}
	.copy{
		margin-left: 10px;
		vertical-align: text-bottom;
		font-size: 15px;
	}
}
