// @import '../../common/scss/variables.scss';
// @import 'include-media/dist/_include-media.scss';

.mian{
	width: 70%;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	margin: auto;
	overflow: hidden;
	input{
		margin: 0px 0 10px 0;
	}
	.Table{
		margin: 20px auto;
	}
}
